/*
salmon orange: "#d86f0d"
salmon yello: "#e5cc87"
salmon orange-yellow: #fca758
*/
* {
    outline: dashed 2px red;
}
html, body {
    background-color: #999999;
    font-family: Arial, Helvetica, san-serif;
    font-display: auto;
    color: #ffffff;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    font-weight: bold;
	color: #e5cc87;
	text-align: center;
}
	
h2 {
	font-family: 'Pacifico', cursive;
    font-size: 40px;
    font-weight: bold;
	color: #000000;
	text-align: center;
}

h3, h4, h5, h6 {
	font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

:any-link {
    color: #e5cc87;
    font-weight: normal;
    text-decoration: none;
}
  
a:hover {
    color: #d86f0d;
    font-weight: bold;
    text-decoration: none;
}

ul li {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-left: 268px;
    margin-right: -261px;
    margin-bottom: 10px;
    border: 3px;
    border-style: solid;
    border-color: #e5cc87;
    font-size: 18px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

section {
    display: block;
    width: 852px;
    margin-left: auto;
    margin-right: auto;
}

.page-break {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding: 10px;
    border: 3px;
    border-style: solid;
    border-color: #e5cc87;
    text-align: center;
}  

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding: 10px;
    border: 3px;
    border-style: solid;
    border-color: #e5cc87;
    background: #d86f0d;
    text-align: center;
}
